* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color:#7286a0;
}
ul {
    list-style-type: none;
  }
  
 nav a {
    text-decoration: none;
    color:#7286a0;
    transition:all;
  }
  
  nav a:hover {
    color: purple;
    border-bottom: 2px solid blue
  }
 .picture {
  width : 70%;
  height: 600px;
 } 
  
  body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  
  max-width: 1600px;

 /* .smiley {
    width: 50px;
    height: 50px;
    display: flex;
    margin: 20px;
    margin-right: 500px;
  }
  
  .gif {
    width: 5%;
    height: 5%;
    padding: 50px;
  }*/

    


  }
  nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:1.5rem 3.5rem; 
    position: sticky;
    z-index: 1;
    left: 0;
    top: 0;
    background-color:pink;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
  
nav ul {
    display: flex;
    gap: 1.9rem;
}
nav ul li {
    font-weight:bold;
  }
  .burger-menu {
    color: blue;
    font-size: 2rem;
    border: 10px;
    background-color: red;
    cursor: pointer;
    display: none;
  }

  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
  }

  .about img {
    height: 37.5rem;
    width: 37.5rem;
  }
  
  .bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px #7a5c58;
    height: 300px;
    
    
  }
  
  .bio h2 {
    margin-bottom: 30px;
  }
  
  .bio p {
    line-height: 30px;
    padding: 0.3rem 0;
  }
 /* .more-about {
    background-color: whitesmoke;
    padding: 1rem 6rem;
  }
  
  .more-about h2 {
    margin-bottom: 30px;
    text-align: center;
  }
  
  .more-about p {
    line-height: 30px;
    padding: 0.4rem;
  }*/
  .skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .skill-header {
    margin-bottom: 1rem;
    color: #008080;
  }
  
  .skills-wrapper img {
   padding: 1.25rem;
   width: 150px;
   height: 150px;
    
  }
  
  .icon {
    width: 11.875rem;
    height: 11.25rem;
  }
  .icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px #7a5c58;
    padding: 20px;
    margin: 10px;
  }
  .projects {
    background-color: #f2bfbf;
    padding: 32px 0;
    margin-top: 2rem;
  }
  
  .project-pic {
    width: 65%;
    height: 60%;
  }
  
  .projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
  }
  .project-link {
    color: white;
    font-weight: 600;
  }
.project-link:hover {
  color: yellow;
}
  .projects-title {
    text-align: center;
    margin-bottom: 1rem;
    color: #008080;
  }
  
  .project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
    color: black;
    background-color: #008080;
  }
  .project-container p {
    padding: 0.4rem;
  }
  .project-card {
    width: 400px;
    height: 500px;
    
  }
  
  .project-title {
    margin-bottom: 20px;
  }
  .website-form {
    width: 350px;
    height: 400px;
  }
  .project-titles {
    width:50px;
    height:30px;
    margin-left: 100px;
  }
  .project-titles h3 {
    margin-left: -500px;
  }
  .desktop {
    width: 350px;
    height: 400px;
  }
 /* .project-details {
    margin-bottom: 20px;
  }*/
  
  .project-card {
    background-color: #fff;
    border-radius: 11px;

    padding: 20px;
    margin: 10px;
  }
  .contact {
    margin-top: 2rem;
  }
  
  .touch {
    text-align: center;
    margin-bottom: 30px;
    color: #008080;
    font-weight: 700;
    font-size: larger;
  }
  
  .contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px #7a5c58;
  }
  .contact-form-container label {
    line-height: 2.7em;
    font-weight: 50px;
    color: #7a5c58;
  }
  
  .contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
  }
  
  .contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset purple;
    font-size: 0.875rem;
    outline: none;
  }
  .input-field::placeholder {
    padding: 0.5rem;
    color: purple;
  }
  .submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid purple;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 30px;
    transition: 10;
  }
  .submit-btn:hover {
    background-color: pink;
    border: 2px solid pink;
    cursor: pointer;
  }
  .socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
    gap: 10px;
  }

  /*.email {
    display: flex;
    justify-content: center;
    font-size: small;
    font-style: italic;
    padding: 50px;
  }*/
  
  .socicon {
    width: 2.5rem;
    height: 2.5rem;
  }
  footer {
    background-color: white;
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;

  }
  .bio-text .span {
    color: blueviolet;
    font-weight: 700;
  }
  .second-span {
    color: blueviolet;
    font-weight: 700;
  }
  .span-skills {
    color: purple;
    font-weight: 700;
  }
  .button {
    background-color: purple;
    border-radius: 5px;
  
  }
  .button2 {
    background-color: pink;
    border-radius: 5px;
    box-shadow: 10px solid black;
  }



  @media only screen and (max-width:414px) {
    body {
      display: flex;
      padding: 10px auto;
      margin: auto;
    }
.contact {
  width: 300px;
  height: 100vh;
  margin-top: 250px;
}

.contact-form-container {
  width: 100%;
  height: 250%;
  display: flex;
  padding: 20px;
  margin: -40px 10px;
}
body {
  width: 414px;
}
.socials {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20px;
  top: 2170px;
      justify-content: center;
      align-items: center;
      width: 100%;
 

  }
  .footer {
    display: flex;
    margin: 50px;
    margin-top: 300px;
    background-color: #f2bfbf;
  }
  .socicon {
    display: flex;
    width: 2rem;
    height: 2rem; 
    margin-top: 200px;
}
  }


  @media only screen and (max-width:430px) {
    /* for screens that are at least 320 pixels wide but less than or equal to 640 pixels wide */

    body {
      display: flex;
      flex-direction: column;
      padding: 0px 10px 0px 10px;
    
      margin: -20px auto;
  
      
    }
    .btn {
      flex-direction: row;
      gap: 10px;
      display: flex;
      margin-top: 60px; 
      margin-left: 100px;
    }
    .header {
      display: flex;
      flex-direction: column;

    }

    .header ul {
      margin: 10px;
    }
    .about {
      display: flex;
      flex-direction: column;
      width: 100%;
    
      

    }
    .about img {
      display: flex;
      height: 200px;
      width: 250px;
      margin-left: -100px;
      flex-direction: column;
      margin: 10px;
      

      
    }

    .bio {
      width: 100%;
      display: flex;
      height: 250px;
      flex-direction: column;
      overflow: scroll;
      padding: 10px 50px ;


      
  
    }
    
    .bio h2 {
      font-size: 20px;
    }
    
    .bio p {
      font-size: 15px;
      margin: -30px;
       height: 200px;
      flex-direction: row;
      font-display: flex;
      flex-wrap:wrap;
      



    }

    .bio-text {
      font-style: oblique;
      
      
  
    }
    .skills {
      display: flex;
      flex-direction: column;
      width: 200px;
      height: 200px;
    }
    
    .skill-header {
      display: flex;
      font-size: 25px;
      margin-right: 5px;
    }
    
    .skills-wrapper img {
      display: flex;
      width: 100px;
      flex-direction: column;
      height: 100px;

      
    }
    .skills-wrapper {
      display: flex;
      flex-direction: row;
      margin-left: -20px;
      width: 50px;
      height: 10px;
    }
    
    .icon {
      width: 5.875rem;
      height: 5.25rem;
    }
    .icon-card {
      display: flex;
    
    }
    .projects {
      display: flex;
      flex-direction: column;
      margin-top: 250px;
      height: 150%;
      width: 100%;
      background-color: whitesmoke;
      
    }
    
    .project-pic {
      width: 80px;
      height: 60px;
      display: flex;
    }
    
    .projects-container {
      display: flex;
      flex-direction: row;
      height: 350px;
      justify-content: center;
      align-content:space-around;
      width: 70%;
      gap: 3px;
      margin-top: 50px;
      margin-bottom: 50px;
      
    }
    .project-container {
    
      width: 60%;
      height: 300px;
      margin-left: 65px ;
      
    
    }

    .project-container, .website-form {
      margin-right: -30px;
    }
    .website-form {
      width: 120px;
      height: 250px;
    }
    .desktop{
      width: 100px;
      height: 250px;
    }
    .project-title {
      margin-top: 30px;
      margin-left: ;
      margin-top: 45px;
      font-size: medium;

    }
    .projects-title {
      margin-top: 20px;
    }
    .project-titles {
      font-size: medium;
      margin: 30px;
      margin-left: -25px;
      margin-top: 40px;
    }

    .project-container p {
      padding: 0.4rem;
    }
    .project-card {
      margin-left: 80px;
      
    }
    .project-card .website-form {
      margin-left: 2px;
    }
    .contact {
  
      width: 380px;
      height: 90vh;
     /* justify-content: center;
      align-content: center;
     /* margin: -40px;*/
      margin-top: 70px;
     /* margin-left: -50px;*/
      
      
      
    
      
    }

    /*.touch {
     display: flex;
     flex-direction: row;
    /* justify-content: center;*/
     /*margin-right: -500px;*/
     color: purple;
     font-weight: 700px;
    font-size: large;
    /* margin-left: 70px;*/
    margin: 10px 250px;
    

    .contact-form-container {
      width: 400%;
      height: 400%;
      display: flex;
      padding: 20px;
      margin: -170px 20px;
      
    
    }
    h2 {
      font-size:large;
      margin-top: 50px;
      

    }
    .socials {
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 2700px;
      justify-content: center;
      align-items: center;
      width: 100%;

  
    }
    .socicon {
      display: flex;
      width: 2rem;
      height: 2rem; 
      margin-top: 120px;

    }
    footer {
      display:flex ;
      flex-direction: column;
      height: 50px;
      width: auto;
      
  
    }
    .copy {
      font-size: smaller;
      font-style: italic;
    }
    
  
  }
  

 /* @media screen and (max-witdth:320px) {}*/




 
  